/* Wiki Stages Styling */
#wiki-stages .wiki-stage-path-container {
  margin: 1em 0;
}

#wiki-stages .stage-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2em;
}

/* Stage Detail Styling */

#wiki-stages .stage-detail-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#wiki-stages .stage-detail-info h3 {
  margin: 0;
  color: var(--color-fg-primary);
}

#wiki-stages .stage-detail-info h4 {
  margin: 0.2em 0;
  color: var(--color-fg-accent);
}

#wiki-stages .stage-detail-info .stage-type {
  font-size: 0.9em;
  color: var(--color-fg-secondary);
  font-style: italic;
}

#wiki-stages .stage-detail-icon img {
  width: 48px;
  height: 48px;
}

#wiki-stages .stage-detail ul {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
}

#wiki-stages .stage-board table {
  border-collapse: collapse;
  margin-top: 0.5em;
}

#wiki-stages .stage-board th,
#wiki-stages .stage-board td {
  padding: 0.5em;
}

#wiki-stages .stage-board .pokemon-cell img {
  margin-right: 0.5em;
}

#wiki-stages .stage-board .boosts-cell {
  display: flex;
  gap: 0.5em;
}
#wiki-stages .stage-board .boost-item img {
  width: 32px;
  height: 32px;
}

#wiki-stages .stage-board li,
#wiki-stages .town-encounter {
  display: flex;
  align-items: center;
  gap: 0.25em;
}

#wiki-stages img.item {
  width: 40px;
  height: 40px;
}

#wiki-stages .town-encounters {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

#wiki-stages .stage-items li,
#wiki-stages .stage-boosts li {
  list-style: none;
  padding: 0.3em;
  background-color: var(--color-bg-secondary);
  border-radius: 4px;
}

#wiki-stages .stage-shiny span {
  font-weight: bold;
  color: var(--color-fg-gold);
}
