.preparation-menu-user {
  display: flex;
  padding: 0.5em;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
}

.preparation-menu-user .inline-avatar {
  flex: 1;
  min-width: 0;
  flex-wrap: wrap;
}

.preparation-menu-user.ready,
.preparation-menu-user.not-ready {
  border: var(--border-thin);
  box-shadow: inset 0 0 0 4px var(--ready-state-color);
}

.preparation-menu-user.ready {
  --ready-state-color: #92cc41;
}

.preparation-menu-user.not-ready {
  --ready-state-color: #e76e55;
}
